
<ion-content class="bg-image" text-center >

  <ion-list>

    <img class="logo" src="../../assets/imgs/monkey1.png" alt="LogoSquizMe">

    <button ion-button class="btnL mb2" round [navPush]="InvitePage">Constituer les équipes</button>

    <button ion-button class="btn inactif" round (click)="alertTeam()" *ngIf="!modeToggle">Choisir le type de manche</button>
    <button ion-button class="btn" round (click)="showModes()" *ngIf="modeToggle">Choisir le type de manche</button>

    <button ion-button class="btn inactif" round (click)="alertTeam()" *ngIf="!modeToggle">Manche aléatoire</button>
    <button ion-button class="btn" round (click)="randomMode()" *ngIf="modeToggle">Manche aléatoire</button>

    <button ion-button class="btn inactif" round (click)="alertManche()" *ngIf="!themeToggle">Choisir le thème</button>
    <button ion-button class="btn" round (click)="showThemes()" *ngIf="themeToggle">Choisir le thème</button>

    <button ion-button class="btnY inactif p3 mt4" round (click)="alertTheme()" *ngIf="!gameOK">Lancer la manche</button>
    <button ion-button class="btnY p3 mt4" round (click)="gameOnBitch()" *ngIf="gameOK">Lancer la manche</button>
    
  </ion-list>
  

</ion-content>
  
<ion-fab right bottom>
  <button ion-fab class="backBtn" (click)="openPage()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
</ion-fab>