page-play {

    .logo{
        width: 25%;
        margin-bottom: 3rem;
    }

    .btn, .btnL, .btnY{
        width: 70%;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .btnY{
        margin-top: 4rem;
    }


}
