<ion-content class="bg-image">

  <ion-card>
    <ion-card-content>

      <ion-segment padding="auto" [(ngModel)]="segmentTab">

        <ion-segment-button value="friend">
          Mes amis
        </ion-segment-button>

        <ion-segment-button value="teamA">
            <div class="segmentDiv">
                <img class="teamLogo" src="../../assets/imgs/monkeyY.png">
                {{ teamA }}
            </div>   
        </ion-segment-button>

        <ion-segment-button value="teamB">
            <div class="segmentDiv">
              <img class="teamLogo" src="../../assets/imgs/monkeyP.png">
              {{ teamB }}
            </div>
        </ion-segment-button>

      </ion-segment>

      <div [ngSwitch]="segmentTab">

          <ion-list *ngSwitchCase="'friend'">
      
            <ion-card>
      
              <ion-card-header>
      
                <ion-grid>
      
                  <ion-row>

                    <ion-col text-center>
                      Constituer les équipes
                    </ion-col>

                  </ion-row>

                  <ion-row>

                      <ion-col text-center>
                        {{ teamA }}
                      </ion-col>

                      <ion-col text-center>
                          {{ teamB }}
                        </ion-col>
  
                    </ion-row>
      
                </ion-grid>
      
              </ion-card-header>
      
              <ion-card-content>
                <ion-list *ngFor="let friend of friends; let i=index">
      
                  <ion-item *ngIf="friend[2]==''">
                    <!-- <button ion-button item-start (click)="addToTeam('A', i)"> -->
                        <img class="teamLogo" src="../../assets/imgs/monkeyY.png" item-start (click)="addToTeam('A', i)">
                    <!-- </button> -->
                    <ion-label text-center>{{friend[1]}}1</ion-label>
                    <!-- <button ion-button item-end (click)="addToTeam('B', i)"> -->
                        <img class="teamLogo" src="../../assets/imgs/monkeyP.png" item-end (click)="addToTeam('B', i)">
                    <!-- </button> -->
                  </ion-item>
      
                </ion-list>
              </ion-card-content>
      
            </ion-card>
      
          </ion-list>
      
          <ion-list *ngSwitchCase="'teamA'">
      
            <ion-card>
      
              <ion-card-header>
      
                <ion-grid>
      
                  <ion-row>
      
                      <ion-col text-left>
                          <ion-item>
                              <img class="teamLogo" src="../../assets/imgs/monkeyY.png" item-start>
                              <ion-label>{{ teamA }}</ion-label>
                          </ion-item>                      
                        </ion-col>
      
                  </ion-row>
      
                </ion-grid>
      
              </ion-card-header>
      
              <ion-card-content>
                <ion-list *ngFor="let friend of friends; let i=index">
      
                  <ion-item *ngIf="friend[2]=='A'">
                    <ion-label>{{friend[1]}}</ion-label>
                    <button ion-button item-end (click)="addToTeam('', i)">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-item>
      
                </ion-list>
              </ion-card-content>
      
            </ion-card>
      
          </ion-list>
      
          <ion-list *ngSwitchCase="'teamB'">
            <ion-card>
      
              <ion-card-header>
      
                <ion-grid>
      
                  <ion-row>
      
                    <ion-col text-left>
                      <ion-item>
                          <img class="teamLogo" src="../../assets/imgs/monkeyP.png" item-start>
                          <ion-label>{{ teamB }}</ion-label>
                      </ion-item>                      
                    </ion-col>
      
                  </ion-row>
      
                </ion-grid>
      
              </ion-card-header>
      
              <ion-card-content>
                <ion-list *ngFor="let friend of friends; let i=index">
      
                  <ion-item *ngIf="friend[2]=='B'">
                    <ion-label>{{friend[1]}}</ion-label>
                    <button ion-button item-end (click)="addToTeam('', i)">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-item>
      
                </ion-list>
              </ion-card-content>
      
            </ion-card>
      
          </ion-list>
      
        </div>

    </ion-card-content>
  </ion-card>

  <div text-center>
    <button ion-button type="submit" id="teamOK" value="teamOK" class="btn mt2" round (click)="goToManche()">Valider</button>
  </div>

</ion-content>

<ion-fab right bottom>
  <button ion-fab class="backBtn" (click)="openPage()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
</ion-fab>