page-invite {

    ion-list {
        padding: 0 0.6rem;
    }

    ion-app.wp [padding] {
        padding: 0px;
    }
    .segmentDiv {
        display: flex;
        flex-direction: row;
        align-items: start;
    }
    .teamLogo {
        max-width: 25px;
        margin: auto 0;
    }
}
