page-password {

    .list{
        width: 100%;
        position: absolute;;
        text-align: center;                
    }

    .item{
        background-color: rgba(50, 59, 36, 0.5);
        margin-top: 2rem;     
    }

    .item-input-has-focus .label-md[stacked],
    .label-md[stacked] {
        font-size: 1.6rem;
        color: map-get($colors, junglel);
    }

    .item-md.item-block .item-inner,
    .input-md[stacked],
    .item-input-has-focus .label-md[stacked]{
        border-bottom: rgba(255, 255, 255, 0);
    }

    ion-input{
        font-size: 2rem;
        color: map-get($colors, sunl);
        font-weight: bold;
       
    }

}
