page-access {

    .btn{
        font-size: 2.5rem;
        display: block;
    }

   .btnS{
        color: map-get($colors, jungle);
        background-color: map-get($colors, junglel);;
   }

   .btnW{
        color: map-get($colors, junglel);
        background-color: map-get($colors, jungle);;    
   }
}
